<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name ="author" content = "Rossi Lab">
  <title>Your result</title>

  <!-- Below is used locally but not on server. May generate warnings. -->
</head>
<body>
  


      <h1>
        Your RNASeq results
      </h1>

<h2>
  Read quality<br><br>

  <iframe src="read_quality.pdf#toolbar=0" width="660" height="660"
  frameborder="0" scrolling="no">
  </iframe>
</h2>

<h2>
  Read length<br><br>

  <iframe src="read_length.pdf#toolbar=0" width="670" height="670"
  frameborder="0" scrolling="no">  </iframe>
</h2>

<h2>
  Sample summary<br><br>

  <iframe src="sample_summary.pdf#toolbar=0" width="660" height="660"
  frameborder="0" scrolling="no">
  </iframe>
</h2>

<h2>
  cDNA_mapping summary<br><br>
  <iframe src="cDNA_mapping_summary.pdf#toolbar=0" width="660" height="660"
  frameborder="0" scrolling="no">  </iframe>
</h2>


<h2>
  Expression heatmap<br><br>
  <iframe src="heatmap.pdf#toolbar=0" width="670" height="670"
  frameborder="0" scrolling="no">
  </iframe>
</h2> 

<h2>
  Heatmap function classification<br><br>
  <iframe src="heatmap_functional_classification.pdf#toolbar=0" width="1500" height="1050"
  frameborder="0" scrolling="no">
  </iframe>
</h2> 

<h2>
  Dot plot Gene Ontology<br><br>
  <iframe src="gseGO.pdf#toolbar=0" width="1500" height="1100"
  frameborder="0" scrolling="no">
  </iframe>
</h2> 

<h2>
  Bar plot Disease Ontology<br><br>
  <iframe src="bar_plot_enrichDGN.pdf#toolbar=0" width="800" height="650"
  frameborder="0" scrolling="no">
  </iframe>
</h2> 

<h2>
  Gene-Concept Network 1<br><br>
  <iframe src="cnet_plot1.pdf#toolbar=0"width="1500" height="600"
  frameborder="0" scrolling="no">
  </iframe>
</h2>

<h2>
  Gene-Concept Network 2<br><br>
  <iframe src="cnet_plot2.pdf#toolbar=0" width="1500" height="1050"
  frameborder="0" scrolling="no">
  </iframe>
</h2>

<h2>
  Pathview <br><br>
  <iframe src="pathway.png#toolbar=0" width="1500" height="1500"
  frameborder="0" scrolling="no">
  </iframe>
</h2>



</body>
</html>
